DB_URL=jdbc:postgresql://<POSTGRES_HOST>:5432/url_shortener
DB_USER=<POSTGRES_USER>
DB_PASSWORD=<POSTGRES_PASSWORD>
REDIS_HOST=<REDIS_HOST>
REDIS_PORT=6379
SHORT_BASE_URL=https://<YOUR_DOMAIN>
RATE_LIMIT_CREATE_PER_MINUTE=10
RATE_LIMIT_REDIRECT_PER_MINUTE=600
ANON_LINK_MAX=5
ACCOUNT_LINK_MAX=1000
AUTH_SESSION_TTL_DAYS=30
GEO_IP_LOOKUP_URL=https://ipapi.co/%s/json/
